body{background-color:#f7f7f7;color:#000;font-size:12px;border:2px solid #ebebeb;font-family:"Times New Roman", serif;margin:0;padding:1px;} 
form{margin:0;} 
textarea{resize:both;} 
input[type=text],input[type=file]{resize:horizontal;overflow:hidden!important;} 
textarea,select[multiple=true],input[type=text],input[type=file]{overflow:auto;width:85%;background-color:#f0f0f0;color:#000;font-family:"Courier New", serif;border:1px solid #000;margin:2pt 1%;} 
input[type=text]:hover,input[type=file]:hover{background-color:#acf;} 
legend input[type=checkbox]{margin:0!important;} 
input[type=checkbox]:checked{background-color:#007090;} 
table{border-spacing:1px;border-radius:3pt;width:100%;background-color:#b0b0b0;font-size:11px;} 
tr:hover{background-color:#90bbdd;} 
th{border-radius:5pt;background-color:#777;} 
td{margin:0;padding:0 0 0 1px;} 
label{white-space:nowrap;display:inline;} 
a{color:#003;text-decoration:none;} 
a:hover{text-decoration:underline;color:#a00;} 
.input textarea,.input select,.input input[type=checkbox],.input input[type=radio]{margin:2pt 1%;} 
.check{text-align:center;} 
.w{border-radius:3pt;background-color:#007090;text-align:center;font-weight:700;font-size:11px;color:#003;border:1px solid #003;} 
.w a{color:#fff;} 
.w a:hover{color:#f0f0f0;} 
.w2{text-shadow:1pt 1pt 1pt #bbb;border-radius:10pt;text-align:center;font-weight:700;border:1px solid #0077a0;background-color:#000;color:#fff;margin:1% 2%;} 
.telo{border-radius:3pt;background-color:#007090;color:#fff;border:1px solid #003;margin:1px;} 
.input{background-color:#aaa;color:#000;font-size:11px;border:1px solid #0077a0;padding:0 0 0 1%;} 
.red{color:red;} 
.green{color:#0b0;} 
.border{white-space:nowrap;border-radius:3pt;background-color:#ebebeb;color:#c00;border-top:1px solid #fff;border-bottom:1px solid #ccc;padding:1px 4pt 1px 2pt;} 
.border2{border-radius:3pt;background-color:#ddd;color:#c00;border-top:1px solid #fff;border-bottom:1px solid #ccc;padding:1px 4pt 1px 2pt;} 
.rb{border-radius:3pt;text-align:right;background-color:#ebebeb;color:#c00;border-top:1px solid #fff;border-bottom:1px solid #ccc;padding:1px 4pt 1px 0;} 
.ch{white-space:nowrap;color:#c00;font-weight:700;margin:2px 0 2px 1%;} 
.code{background-color:#ebebeb;font-weight:700;border:1px solid #0077a0;overflow:auto;margin:1%;padding:2pt 1pt 2pt 3pt;} 
.true_code{background-color:#000;color:#fff;} 
.fail_code{background-color:#000;color:red;font-weight:700;margin:2px;} 
.submit{background-color:#fff;color:#000;font-weight:700;border:1px solid #0077a0;margin:0;padding:0 1px;} 
.submit a:hover{color:#333;background-color:#f0f0f0;} 
.submit a:visited{color:#111;} 
fieldset{border-radius:3pt;} 
.edit input[type=text],textarea{width:93%;font-family:"Courier New", monospace;margin:0 0 0 2pt;} 
div.bar{white-space:nowrap;} 
div.bar input[type=text]{width:86%;} 
.pedit{border-radius:3pt;background-color:#ebebeb;color:#c00;font-weight:700;} 
.pedit input[type=text]{width:99.5%;} 
.pedit_l{width:10px;} 
.pedit_c{padding-right:3px;width:100%;} 
.pedit_r{white-space:nowrap;float:right;} 
input.pinput{-wap-input-format:'*N';width:2%;min-width:20px;}
a:active,.submit a{color:#000;}