# РАЗРЕШАЕМ просматривать ВСE
Allow from All

# Защищаемся от неграмотных ModRewrite правил
<IfModule mod_rewrite.c>
RewriteEngine Off
</IfModule>

# Индексный Файл
DirectoryIndex index.php

# PHP 5
#AddHandler application/x-httpd-php5 .php .php5 .phtml

# PHP
#AddHandler application/x-httpd-php .php .phtml

# Магические Кавычки
php_flag magic_quotes_gpc Off
php_flag magic_quotes_runtime Off
php_flag magic_quotes_sybase Off

# Глобальные переменные
php_flag register_globals Off

# Устаревшие суперглобальные масивы
php_flag register_long_arrays Off

# Отладка
php_value error_reporting -1
php_flag display_errors On
php_flag html_errors Off
php_flag log_errors Off
php_flag ignore_repeated_errors Off
php_flag ignore_repeated_source Off

# Кодировка по умолчанию
php_value default_charset UTF-8
AddDefaultCharset UTF-8

<IfModule mod_charset.c>
CharsetRecodeMultipartForms Off
CharsetDisable On
</IfModule>

# Максимальный размер загружаемого файла
php_value upload_max_filesize 999M
php_value post_max_size 999M
php_value max_input_time -1

# Компрессия
php_flag zlib.output_compression On
php_value zlib.output_compression_level 6

# Mbstring
php_value mbstring.func_overload 0

# Подсветка PHP Кода
#php_value highlight.string #ff0000
#php_value highlight.comment #909090
#php_value highlight.keyword #000000
#php_value highlight.bg #efefff
#php_value highlight.default #0000ff
#php_value highlight.html #000090