# Allow all
Allow from all

# Lock config
<Files "config.ini">
    Deny from all
</Files>

# Disable ModRewrite
<IfModule mod_rewrite.c>
    RewriteEngine Off
</IfModule>

# Index file
DirectoryIndex index.php

# Magic quotes
php_flag magic_quotes_gpc Off
php_flag magic_quotes_runtime Off
php_flag magic_quotes_sybase Off

# Global vars
php_flag register_globals Off

# Debug
php_value error_reporting -1
php_flag display_errors On
php_flag html_errors Off
php_flag log_errors Off
php_flag ignore_repeated_errors Off
php_flag ignore_repeated_source Off

# Default charset
php_value default_charset UTF-8
AddDefaultCharset UTF-8

<IfModule mod_charset.c>
    CharsetRecodeMultipartForms Off
    CharsetDisable On
</IfModule>

# Upload max file size
php_value upload_max_filesize 999M
php_value post_max_size 999M
php_value max_input_time -1

# Mbstring
php_value mbstring.func_overload 0


# Compression
#php_flag zlib.output_compression On
#php_value zlib.output_compression_level 6
<IfModule mod_deflate.c>
    AddOutputFilterByType DEFLATE text/css application/javascript text/html application/xhtml+xml application/xml text/xml application/rss+xml text/vnd.wap.wml text/plain
    <IfModule mod_setenvif.c>
        BrowserMatch ^Mozilla/4 gzip-only-text/html
        BrowserMatch ^Mozilla/4\.0[678] no-gzip
        BrowserMatch \bMSIE !no-gzip !gzip-only-text/html
    </IfModule>
</IfModule>

# Expires
<IfModule mod_expires.c>
    ExpiresActive On
    ExpiresByType image/gif "access plus 2 months"
    ExpiresByType image/jpeg "access plus 2 months"
    ExpiresByType image/png "access plus 2 months"
    ExpiresByType text/css "access plus 2 months"
    ExpiresByType application/javascript "access plus 2 months"
    ExpiresByType image/vnd.microsoft.icon "access plus 2 months"
</IfModule>

# Highlight PHP code
#php_value highlight.string #ff0000
#php_value highlight.comment #909090
#php_value highlight.keyword #000000
#php_value highlight.default #0000ff
#php_value highlight.html #000090