# РАЗРЕШАЕМ просматривать ВСE
Allow from All

# Защищаемся от WAP-мотора...
RewriteEngine Off

# Индексный Файл
DirectoryIndex index.php

# PHP 5
#AddHandler application/x-httpd-php5 .php .php5 .phtml

# PHP
#AddHandler application/x-httpd-php .php .phtml

# Магические Кавычки
php_flag magic_quotes_gpc Off
php_flag magic_quotes_runtime Off
php_flag magic_quotes_sybase Off

# Глобальные переменные
php_flag register_globals Off

# Компрессия
php_value zlib.output_compression 4096
php_value zlib.output_compression_level 5

# Подсветка PHP Кода
#php_value highlight.string #ff0000
#php_value highlight.comment #909090
#php_value highlight.keyword #000000
#php_value highlight.bg #efefff
#php_value highlight.default #0000ff
#php_value highlight.html #000090

# Отладка
#php_flag display_errors Off
#php_value error_reporting 0

# Кодировка по умолчанию
php_value default_charset UTF-8
AddDefaultCharset UTF-8

# Максимальный размер загружаемого файла
php_value upload_max_filesize 999M
php_value post_max_size 99M