body {
    background-color: #f7f7f7;
    color: #000000;
    font-size: 12px;
    margin: 0;
    padding: 1px;
    border: 2px solid #ebebeb;
    font-family: "Times New Roman", serif;
}

form {
    margin: 0;
}

textarea {
    resize: both;
}

input[type="text"], input[type="file"] {
    resize: horizontal;
    overflow: hidden !important;
}

textarea, select[multiple="true"], input[type="text"], input[type="file"] {
    overflow: auto;
    width: 85%;
    margin: 2pt 1%;
    background-color: #f0f0f0;
    color: #000000;
    font-family: "Courier New", serif;
    border: 1px solid #000000;
}

input[type="text"]:hover, input[type="file"]:hover {
    background-color: #aaccff;
}

legend input[type="checkbox"] {
    margin: 0 !important;
}

input[type="checkbox"]:checked {
    background-color: #007090;
}

table {
    border-spacing: 1px;
    border-radius: 3pt;
    width: 100%;
    background-color: #b0b0b0;
    font-size: 11px;
}

tr:hover {
    background-color: #90bbdd;
}

th {
    border-radius: 5pt;
    background-color: #777777;
}

td {
    margin: 0;
    padding: 0 0 0 1px;
}

label {
    white-space: nowrap;
    display: inline;
}

a {
    color: #000033;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    color: #aa0000;
}

a:active {
    color: #000000;
}

.input textarea, .input select, .input input[type="checkbox"], .input input[type="radio"] {
    margin: 2pt 1%;
}

.check {
    text-align: center;
}

.w {
    border-radius: 3pt;
    background-color: #007090;
    text-align: center;
    font-weight: bold;
    font-size: 11px;
    color: #000033;
    border: 1px solid #000033;
}

.w a {
    color: #ffffff;
}

.w a:hover {
    color: #f0f0f0;
}

.w2 {
    text-shadow: 1pt 1pt 1pt #bbbbbb;
    border-radius: 10pt;
    text-align: center;
    font-weight: bold;
    margin: 1% 2%;
    border: 1px solid #0077a0;
    background-color: #000000;
    color: #ffffff;
}

.telo {
    border-radius: 3pt;
    background-color: #007090;
    color: #ffffff;
    border: 1px solid #000033;
    margin: 1px;
}

.input {
    background-color: #aaaaaa;
    color: #000000;
    font-size: 11px;
    border: 1px solid #0077a0;
    padding: 0 0 0 1%;
}

.red {
    color: #ff0000;
}

.green {
    color: #00bb00;
}

.border {
    white-space: nowrap;
    border-radius: 3pt;
    background-color: #ebebeb;
    color: #cc0000;
    border-top: 1px solid #ffffff;
    border-bottom: 1px solid #cccccc;
    padding: 1px 4pt 1px 2pt;
}

.border2 {
    border-radius: 3pt;
    background-color: #dddddd;
    color: #cc0000;
    border-top: 1px solid #ffffff;
    border-bottom: 1px solid #cccccc;
    padding: 1px 4pt 1px 2pt;
}

.rb {
    border-radius: 3pt;
    text-align: right;
    background-color: #ebebeb;
    color: #cc0000;
    border-top: 1px solid #ffffff;
    border-bottom: 1px solid #cccccc;
    padding: 1px 4pt 1px 0;
}

.ch {
    white-space: nowrap;
    margin: 2px 0 2px 1%;
    color: #cc0000;
    font-weight: bold;
}

.code {
    background-color: #ebebeb;
    font-weight: bold;
    padding: 2pt 1pt 2pt 3pt;
    margin: 1%;
    border: 1px solid #0077a0;
    overflow: auto;
}

.true_code {
    background-color: #000000;
    color: #ffffff;
}

.fail_code {
    background-color: #000000;
    color: #ff0000;
    font-weight: bold;
    margin: 2px;
}

.submit {
    background-color: #ffffff;
    color: #000000;
    font-weight: bold;
    margin: 0;
    padding: 0 1px 0 1px;
    border: 1px solid #0077a0;
}

.submit a {
    color: #000000;
}

.submit a:hover {
    color: #333333;
    background-color: #f0f0f0;
}

.submit a:visited {
    color: #111111;
}

fieldset {
    border-radius: 3pt;
}

.edit input[type="text"], textarea {
    margin: 0 0 0 2pt;
    width: 93%;
    font-family: "Courier New", monospace;
}

div.bar {
    white-space: nowrap;
}

div.bar input[type="text"] {
    width: 86%;
}

.pedit {
    border-radius: 3pt;
    background-color: #ebebeb;
    color: #cc0000;
    font-weight: bold;
}

.pedit input[type="text"] {
    width: 99.5%;
}

.pedit_l {
    width: 10px;
}

.pedit_c {
    padding-right: 3px;
    width: 100%;
}

.pedit_r {
    white-space: nowrap;
    float: right;
}

input.pinput {
    -wap-input-format: '*N';
    width: 2%;
    min-width: 20px;
}